@import 'fonts.css';

:root {
    --body: #fff;
    --text: #323232;
    --link: #7177F1;
    --title: #7177F1;
    --btn: #7177F1;
    --dots-active: #7177F1;
    --dots: #828282;
    --font-primary: 'Montserrat';
    --font-secondary: 'Trebuchet';
}

body {
    background: var(--body);
    font-family: var(--font-primary);
    color: var(--text);
}

a {
    text-decoration: none;
}

h1,h2,h3,h5,h6, p {
    margin: 0;
}

.logo::before {
    content: url(../img/svg/logo-light.svg);
}

.all-btn {
    background: var(--btn);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    color: #fff !important;
    text-align: center;
    padding: 10px 0;
    display: block;
    transition: 500ms;
    text-transform: capitalize;
}

.all-btn:hover {
    background: #fff;
    color: var(--btn) !important;
}
.title {
    font-size: 40px;
    font-weight: 600;
    color: var(--title);
}
/* header start */
.header__list {
    column-gap: 30px;
    row-gap: 15px;
}


.header__link {
    color: var(--link);
    font-size: 24px;
    line-height: 16px;
    transition: 500ms;
}

.header__link:hover {
    color: var(--text);
}

.header__link-btn {
    width: 190px;
}


.header__menu {
    width: 50px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border:none;
    padding: 0;
    transition: 200ms;
    
}
.header__menu.collapsed {
    background: var(--text); 
}

.header__menu::before,
.header__menu::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
    transition: 500ms;
}
.header__menu::after {
    top: 10px;
}
.header__menu:focus {
    box-shadow: unset;
}



.header__menu:not(.collapsed)::before {
    top: 0;
    transform: rotate(-45deg);
}
.header__menu:not(.collapsed)::after {
    top: 0;
    transform: rotate(45deg);
}


.header__content-subtitle {
    font-size: 24px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 10px;
}

.header__content-title {
    line-height: 50px;
    margin-bottom: 25px;
}

.header__content {
    padding: 42px 0 75px;
}

.header__content-btn {
    max-width: 300px;
    width: 100%;
    margin: 0 auto 50px;
    
}

.header__tech-card:first-of-type .header__tech-brand {
    color: #e44f26;
}
.header__tech-card:nth-of-type(2) .header__tech-brand {
    color: #1572B6;
}
.header__tech-card:last-of-type .header__tech-brand {
    color: #790FF1;
}

.header__tech-name {
    font-weight: bolder;
    font-size: 20px;
    color: var(--title);
}

.header__carousel-indicators {
    position: static;
    margin: 50px 0 0;
    column-gap: 30px;
}
.header__indicators-dots {
    height: 15px  !important;
    width: 15px  !important;
    border-radius: 50%;
    background: var(--dots) !important;
    border: none !important;
    opacity: 1 !important;
}
.header__indicators-dots.active {
    
    background: var(--dots-active) !important;
}

.header__carousel-img {
    max-height: 500px;
}
/* header end */